<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
	<insert id="userIns" parameterType="UserDB.UserVO">
	insert into MEMBER(M_ID, M_PW, M_EMAIL, M_NAME, M_BIRTH, M_PHONE, M_TERMS, M_CLASS) 
	values(#{M_ID},#{M_PW},#{M_EMAIL},#{M_NAME},#{M_BIRTH},#{M_PHONE},#{M_TERMS},#{M_CLASS})
	</insert>
	
	<select id="Chk" parameterType="String" resultType="UserDB.UserVO">
		select M_ID from member where M_ID= #{M_ID}
	</select>	
	
	<select id="userInfo" parameterType="String" resultType="UserDB.UserVO">
		select * from member where M_ID= #{M_ID} and M_PW=#{M_PW}
	</select>
	
	<update id="pwUpdate" parameterType="UserDB.UserVO">
		update member set M_PW=#{M_PW} where M_ID=#{M_ID}
	</update>
</mapper>









